#include "resource.h"

IDI_ICON1 ICON DISCARDABLE "res\\KIMP.ico"

SHORTCUTS RCDATA DISCARDABLE "res\\shortcuts.json"

MAINMENUBAR_XML RCDATA DISCARDABLE "res\\layout\\mainMenuBar.xml"
EDITORLAYOUT_XML RCDATA DISCARDABLE "res\\layout\\editorLayout.xml"

FULLSCREEN_VS RCDATA DISCARDABLE "res\\HLSL\\fullscreen_triangle.hlsl"
MASK_PS RCDATA DISCARDABLE "res\\HLSL\\mask.hlsl"
TRANSPARENT_TEX_PS RCDATA DISCARDABLE "res\\HLSL\\transparent_tex.hlsl"

BRIGHTNESS_CONTRAST_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\brightnessContrast.hlsl"
COLOR_BALANCE_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\colorBalance.hlsl"
CURVES_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\curves.hlsl"
EXPOSURE_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\exposure.hlsl"
HUE_SATURATION_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\hueSaturation.hlsl"
INVERT_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\invert.hlsl"
LEVELS_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\levels.hlsl"
MONOCHROME_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\monochrome.hlsl"
POSTERIZE_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\posterize.hlsl"
THRESHOLD_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\threshold.hlsl"
VIBRANCE_AL RCDATA DISCARDABLE "res\\HLSL\\adjustments\\vibrance.hlsl"

NORMAL_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\normal.hlsl"
MULTIPLY_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\multiply.hlsl"
SCREEN_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\screen.hlsl"
OVERLAY_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\overlay.hlsl"
DARKEN_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\darken.hlsl"
LIGHTEN_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\lighten.hlsl"
COLOR_DODGE_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\colorDodge.hlsl"
COLOR_BURN_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\colorBurn.hlsl"
HARD_LIGHT_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\hardLight.hlsl"
SOFT_LIGHT_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\softLight.hlsl"
DIFFERENCE_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\difference.hlsl"
EXCLUSION_BM RCDATA DISCARDABLE "res\\HLSL\\blendModes\\exclusion.hlsl"

ICON_ADJUSTMENT_BRIGHTNESS_CONTRAST RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_contrast_brightness.png"
ICON_ADJUSTMENT_LEVELS RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_levels.png"
ICON_ADJUSTMENT_CURVES RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_curves.png"
ICON_ADJUSTMENT_EXPOSURE RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_exposure.png"
ICON_ADJUSTMENT_VIBRANCE RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_vibrance.png"
ICON_ADJUSTMENT_HUE_SATURATION RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_hue_saturation.png"
ICON_ADJUSTMENT_COLOR_BALANCE RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_color_balance.png"
ICON_ADJUSTMENT_INVERT RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_invert.png"
ICON_ADJUSTMENT_MONOCHROME RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_monochrome.png"
ICON_ADJUSTMENT_POSTERIZE RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_posterize.png"
ICON_ADJUSTMENT_THRESHOLD RCDATA DISCARDABLE "res\\icons\\adjustments\\adjustments_threshold.png"

ICON_TOOL_MOVE RCDATA DISCARDABLE "res\\icons\\tools\\tool_move.png"
ICON_TOOL_SELECT RCDATA DISCARDABLE "res\\icons\\tools\\tool_select.png"
ICON_TOOL_WAND RCDATA DISCARDABLE "res\\icons\\tools\\tool_wand.png"
ICON_TOOL_CROP RCDATA DISCARDABLE "res\\icons\\tools\\tool_crop.png"
ICON_TOOL_BRUSH RCDATA DISCARDABLE "res\\icons\\tools\\tool_brush.png"
ICON_TOOL_PENCIL RCDATA DISCARDABLE "res\\icons\\tools\\tool_pencil.png"
ICON_TOOL_ERASER RCDATA DISCARDABLE "res\\icons\\tools\\tool_eraser.png"
ICON_TOOL_FILL RCDATA DISCARDABLE "res\\icons\\tools\\tool_fill.png"
ICON_TOOL_GRADIENT RCDATA DISCARDABLE "res\\icons\\tools\\tool_gradient.png"
ICON_TOOL_RECTANGLE RCDATA DISCARDABLE "res\\icons\\tools\\tool_rectangle.png"
ICON_TOOL_CIRCLE RCDATA DISCARDABLE "res\\icons\\tools\\tool_circle.png"
ICON_TOOL_HEXAGON RCDATA DISCARDABLE "res\\icons\\tools\\tool_hexagon.png"
ICON_TOOL_STAR RCDATA DISCARDABLE "res\\icons\\tools\\tool_star.png"
ICON_TOOL_LINE RCDATA DISCARDABLE "res\\icons\\tools\\tool_line.png"
ICON_TOOL_PIPETTE RCDATA DISCARDABLE "res\\icons\\tools\\tool_color.png"
ICON_TOOL_HAND RCDATA DISCARDABLE "res\\icons\\tools\\tool_hand.png"
ICON_TOOL_ZOOM RCDATA DISCARDABLE "res\\icons\\tools\\tool_zoom.png"

ICON_LAYER_ADD RCDATA DISCARDABLE "res\\icons\\layerProperties\\layerProperties_add_layer.png"
ICON_LAYER_DELETE RCDATA DISCARDABLE "res\\icons\\layerProperties\\layerProperties_delete.png"
ICON_LAYER_ADJUSTMENT RCDATA DISCARDABLE "res\\icons\\layerProperties\\layerProperties_add_adjustment.png"
ICON_LAYER_LOCK RCDATA DISCARDABLE "res\\icons\\layerProperties\\layerProperties_lock.png"
ICON_LAYER_UNLOCK RCDATA DISCARDABLE "res\\icons\\layerProperties\\layerProperties_unlock.png"

KERNEL_FX RCDATA DISCARDABLE "res\\HLSL\\effects\\basic\\kernel.hlsl"
GAUSSIAN_BLUR_FX RCDATA DISCARDABLE "res\\HLSL\\effects\\blur\\gaussianBlur.hlsl"
NOISE_FX RCDATA DISCARDABLE "res\\HLSL\\effects\\noise\\noise.hlsl"

FONT_MAIN RCDATA DISCARDABLE "res\\Roboto-Regular.ttf"
